.contacts {
    text-align: center;
    padding: 55px 0 60px;
}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 75px;
}

.contacts-button {
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: var(--color-main-black);
}

.contact-button-link {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.socials {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 40px 0 35px;
}

.socials-link img {
    max-width: 65px;
    height: 65px;
}

.social-description {
    width: 260px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #828282;
}

@media (max-width: 480px) {
    .socials {
        gap: 25px;
    }

    .socials-link img {
        width: 55px;
        height: 55px;
    }

    .social-description {
        max-width: 260px;
        font-size: 14px;
    }
}